	  *{
	   	  box-sizing: border-box;
	      margin: 0;
	      padding: 0;
	    }

		/* body{
			padding:0 100px 0 100px;
		} */

		/* for header */
		#header
		{
			width: 100%;
			height: 100px;
			background-color: #faf0ca;
			display: flex;
    		flex-direction: row;
			justify-content: space-between;
			/* padding: 0 100px 0 90px; */
		}
		
		 .logo{
			width: 33.33%;
			height: 100px;
		}

		

/*			Question hub content*/
.content > p{
	width: 33.33%;
	height: 100px;
	font-family:cursive;
	color: black;
	font-size: 45px;
	text-align: center;
	text-transform: uppercase;
}

	

	.header3{
		width: 33.33%;
		height: 100px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 10px 10px;
		align-content: space-around;
	}
		
		/*         for search box*/
		.search input[type=text]{
        width:200px;
        height:30px;
        border-radius:0px;
        border: none;

    	}

    	.login{
    		align-content: center;
    		height: 40px;
    	}
         

         
    	.search button{
        background-color: white;
        color: black;
        float: right;
        padding: 5px 10px;
        margin-right: 0px;
        font-size: 12px;
        border: none;
        cursor: pointer;
        height: 30px;


    	}

		.loginbutton{ 
			margin-left: 400px;
			 height: 30px;
			width: 100px;
			border-radius: 10px;
			background-color:#FDC921;

		}
		.loginbutton:hover{
			cursor: pointer;
			background-color: white;
		} 
		
		/*for navigation*/

		#nav
		{
			display: flex;
			flex-wrap: wrap;
			height: 40px;
			background-color:#FDC921;
			text-align: center;
			position: sticky;
			top:0;
			width: 100%;
			/* padding: 0 100px 0 100px; */
			border-radius: 5px;
		}
		#nav ul
		{
			margin: 0;
		}
		li 
		{
			 display: inline-block;
			 /* margin-right: 20px; */
			 float: none;
			 border-right: 1px solid #bbb;
		}
		.navlink 
		{
		  display: block;
		  padding: 10px;
		  text-decoration: none;
		  color: #333;
		}
		.navlink:hover 
		{
		  background-color: #5F9EA0;
		  color: #fff;
		  height: 40px;
		}
		
		/* header finish */



		/* Footer  */
		#footer
		{
			width: 100%;
			height: 350px;
			background-color: #FDC921;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		.foot1
		{
			width: 30%;
			height: 200px;
			background-color:#faf0ca;
			float: left;
			border-bottom-right-radius:100% ;
			filter: brightness(0.9);

		}
		.footimg{
			height: 110px;
			width: 110px;
		}
		.footmiddle{
			height: 200px;
			display: flex;
			flex-direction: column;
			align-content: space-between;
			
			/* justify-content: center; */
		}
		.footform{
			font-family: Georgia, 'Times New Roman', Times, serif;
			width: 300px;
			display: flex;
			/* align-items: center; */
			justify-content: center;

		}
		.footform input[type="text"]{
			width:250px;
			height:30px;
			border-radius:5px;
			border: none;
			background-color: #faf0ca;
			
		}
		.footform input[type="email"]{
			width:250px;
			height:30px;
			border-radius:5px;
			border: none;
			background-color: #faf0ca;
		}
		.footform textarea{
			border-radius:5px;
			border: none;
			background-color: #faf0ca;
		}
		.submit {
			border-radius: 5px;
			width: 100px;
			height: 25px;
		}
		
		.footmiddle-content{
			font-size: 20px;
			width: 100%;
			
			
		}
		.foot2
		{
			text-align: center;
			width: 30%;
			background-color: #FDC921;
			height: 200px;
		}
		
		.social-icons a {
  			color: #777;
  			font-size: 24px;
		}
		.abtus{
			font-size: 19px;
			color: black;
			text-decoration: none;
		}
		.abtus:hover{
			color: yellow;
		}

		
		/*  footer finish */



		/* landing page */
		#maintop
		{
			width: 100%;
			height: 500px;
			background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/book.jpg);
			background-size: 100% 500px;
			background-repeat: no-repeat;
		}
		
		
		.content1
		{
			font-family:serif;
			color: #FDC921;
			font-size: 50px;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			padding-top: 200px;
			text-shadow: 1.5px 1.5px black;
		}
		#mainbottom 
		{
			  display: flex;
			  align-items: center;
			  display: block;
			  justify-content: center;
			  /* margin-top: 10px; */
			  width: 100%;
			  height: 800px;
			  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/bookbottom.jpg");
			  background-color:#FFFDF7;

		}
		.intro 
		{
		  text-align: center;
		  font-family: monospace;
		  color: white;
		  font-size: 25px;
		  text-shadow: 2px 2px black;
		  width: 100%;
		  padding-top: 100px;

		}
		.intro1
		{	
		  font-family: monospace;
		 color: white;
		  font-size: 25px;
		  text-shadow: 2px 2px black;
		  width: 100%;
		  padding-top: 100px;
		  margin-top: 150px;
		  padding: 30px;

		}
		.intro2
		{	
		 font-family: monospace;
		  color: white;
		  font-size: 25px;
		  text-shadow: 2px 2px black;
		  width: 100%;

		}
		
		#left2
		{
			/* margin-top: 10px; */
			width: 100%;
			height: 400px;
			padding: 30px;
			background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../images/book.jpg");
			background-repeat: no-repeat;

		}
		/* #right2
		{
			
			width: 50%;
			height: 350px;
			background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../images/book pen.jpg");
			background-repeat: no-repeat;
			background-size: 100%;
			float: left;
		} */

		/* landing page finish */

		/* login  */
		.labellog {
			display: block;
			margin-bottom: 10px;
		}

		.inputlog {
			width: 100%;
			padding: 8px;
			margin-bottom: 15px;
			background-color: rgb(240, 236, 236);
			border-radius: 20px;
		}

		.formlog {
			max-width: 400px;
			margin: 0 auto;
			position: absolute;
			top: 25%;
			left: 35%;
		}

		.logbutton {
			width: 49%;
			height: 40px;
			border-radius: 5px;
		}

		.logbutton:hover {
			cursor: pointer;
			background-color: #fdc921;

		}

		.formh4 {
			color: #fdc921;
		}
		.labellog{
			margin-left: 10px;
			margin-top: 20px;
			font-size: large;
		}
		.passlog{
			margin-left: 10px;
			font-size: large;

		}
		/* login finish */

		/* for register */
		.formreg{
			max-width: 400px;
			margin: 0 auto;
			position: absolute;
			top: 25%;
			left: 35%;
		}
		#registerform{
			width: 400px;
			height: 500px;
			background-color: #9fa1dd;
		}
		#register{
			border: solid blue 2px;
			width: 400px;
			border-radius: 10px;
		}
		

		

		/*		ABOUT US CSS*/
		
		#aboutmain 
        {
            background-color: #faf0ca;
            width: 100%;
            height: 500px;
			padding-left: 50px;
            
			

        }
        #abouttop
        {
            width: 100%;
            height: 100px;
            padding: 10px;
        }
        #aboutfirst
        {
            height: 200px;
            width: 50%;
            float: left;
            padding: 15px 10px;
        }
        #aboutsecond
        {
            height: 200px;
            width: 50%;
            float: left;
            padding: 15px 10px;
        }
        #aboutthird
        {
            height: 200px;
            width: 100%;
            float: left;
            padding:10px;
        }

		/* about us finish */



		/* FOR TIPS PAGE */
		.maintips {
            width: 100%;
            height: 80vh; 
            display: flex;   
        }
        .sidemenu {
            width: 200px;
            background-color: #faf0ca;
            padding-top: 20px;
        }
        .sidemenu a {
            padding: 6px 6px 6px 2px;
            text-decoration: none;
            font-size: 2rem;
            color: #818181;
            display: block;
        }
        
        .sidemenu a:hover {
            color: #f1f1f1;
        }
        .maincon {
            background-color: #faf0ca;
            font-size: 1.2rem;
            height: 100%;
            padding: 30px;
            width: 85%;
            
        }
        @media screen and (max-height: 1400px) {
            .sidemenu {
                width: 15%px;
                flex-wrap: wrap;
                justify-content: center;
            }

            .sidemenu a {
                width: 50%;
                padding: 12px 6px;
                text-align: center;
            }
        }
		/* tips finish */

		/* moderator css */
		
